html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: .4em .75em .3em;
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.85;
}

.btn:hover {
  background-color: #000;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  color: #333;
  border: 3px solid #333;
  background-color: #fff;
  line-height: 1.55;
}

.btn-ghost:hover {
  color: #fff;
  border: 3px solid #666;
  background-color: #666;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-small {
  font-size: .875rem;
}

div {
  padding: .5rem;
  text-align: center;
}
